<div class="btnblockWrapper">
  <button [disabled]="(videoManager.getRecordStateStream() | async) === recorderState.Play"
          (click)="onRecordStartStop()">
    <span *ngIf="(videoManager.getRecordStateStream() | async) === recorderState.Record">Stop</span>
    <span *ngIf="(videoManager.getRecordStateStream() | async) === recorderState.Stop || (videoManager.getRecordStateStream() | async) === recorderState.Play">Rec</span>
  </button>
</div>


<form [formGroup]="form" (ngSubmit)="onSaveSet()">
  <input placeholder="Name of set" formControlName="setName">
  <!--TODO add validation if empty record set-->
  <button *ngIf="videoManager.currentVideoSet.length > 0"
    type="submit"
          [disabled]="(videoManager.getRecordStateStream() | async) === recorderState.Record || !form.valid">
    Save
  </button>
</form>

<!--<ul>-->
  <!--<li *ngFor="let item of videoManager.currentVideoSet">{{item.video.id}} - {{item.startTime}} - {{item.finishTime}}-->
    <!--<button>Play</button>-->
  <!--</li>-->
<!--</ul>-->
